:root{
    --primary-color: #F9F7F3;
    --secondary-color: #F9F7F3;
    --background-color: #101D42;
    --text-primary-color: #F9F7F3;
    --text-secondary-color: #101D42;
    --error-color: #FF0000;
}
